@import "css-reset";


html {
    background-color: #222626;
    padding: 2em 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #8C8C94;
}
h1 {
    color: #DDE2DD;
    font-size: 2rem;
    margin: 1em 0 0 0.46em;
}
h3 {
    color: #CDD1CC;
    font-size: 1.3rem;
    margin: 1em 0em 0.2em 0em;
}
a {
    color: #0AB377;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
nav {
    font-size: 0.8rem;
    margin: 0.4em 0 0 1.3em;
}
section {
    max-width: 600px;
    margin-left: 1em;
}
ol {
    list-style: decimal;
}
ul {
    list-style-type: '- ';
}
ol li {
    margin: 0.5em 1.1em;
    padding-left: 0.3em;
}
ul li {
    margin: 0.2em 1.1em;
    padding-left: 0.3em;
}