---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Team Starling Eats</title>
</head>
<body>
    <nav>
        <a href='{{ "/" | relative_url }}'>Home</a>
        <a href='{{ "/about" | relative_url }}'>About</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>{{ content }}</section>
</body>
</html>