---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Team Starling Eats</title>
    <style type="text/css">
        {% capture include_to_scssify %}
          {% include inline.scss %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>
    <!-- generics -->
    <link rel="icon" href='{{ "assets/favicon/favicon-32.png" | relative_url }}' sizes="32x32">
    <link rel="icon" href='{{ "assets/favicon/favicon-57.png" | relative_url }}' sizes="57x57">
    <link rel="icon" href='{{ "assets/favicon/favicon-76.png" | relative_url }}' sizes="76x76">
    <link rel="icon" href='{{ "assets/favicon/favicon-96.png" | relative_url }}' sizes="96x96">
    <link rel="icon" href='{{ "assets/favicon/favicon-128.png" | relative_url }}' sizes="128x128">
    <link rel="icon" href='{{ "assets/favicon/favicon-192.png" | relative_url }}' sizes="192x192">
    <link rel="icon" href='{{ "assets/favicon/favicon-228.png" | relative_url }}' sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href='{{ "assets/favicon/“assets/favicons/favicon-196.png" | relative_url }}'>

    <!-- iOS -->
    <link rel="apple-touch-icon" href='{{ "assets/favicon/favicon-120.png" | relative_url }}' sizes="120x120">
    <link rel="apple-touch-icon" href='{{ "assets/favicon/favicon-152.png" | relative_url }}' sizes="152x152">
    <link rel="apple-touch-icon" href='{{ "assets/favicon/favicon-180.png" | relative_url }}' sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#222626">
    <meta name="msapplication-TileImage" content='{{ "assets/favicon/favicon-144.png" | relative_url }}'>
</head>
<body>
    <nav>
        TEAM STARLING / EATS :
        <a href='{{ "/" | relative_url }}'>Home</a> |
        <a href='{{ "/about" | relative_url }}'>About</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>{{ content }}</section>
</body>
</html>