---
layout: default
---
<aside>
  <span>Servings: {{ page.metadata.servings }}</span>
  {% if page.metadata.source %}
  <span> <a href="{{ page.metadata.source }}">Source</a></span>
  {% endif %}
</aside>

<h3>Ingredients</h3>
<ul>
  {% for item in page.ingredients %}
    <li>{{ item.amount }} {{ item.name }}</li>
  {% endfor %}
</ul>

<h3>Equipment</h3>
<ul>
  {% for item in page.cookware %}
    <li>{{ item.name }}</li>
  {% endfor %}
</ul>

<h3>Method</h3>
<ol>
  {% for item in page.steps %}
    <li>{{ item.description }}</li>
  {% endfor %}
</ol>